body {
    background-image: url("https://cmgpbpscpbc.files.wordpress.com/2016/10/hurricanematthewap1.jpg");
    background-color: #d5f4e6 ;
    max-width: 1200px;
    margin: 1em auto 0;
    border: 1px solid black;
    padding: 1em;
    min-height: 1000px;
    background-size: cover;
}

h1 {
    font-family: Georgia;
    color: #80ced6
}

h3 {
    text-transform: uppercase;
}

.friend {
    background-color: #80ced6;
}

.friend p {
    text-transform: uppercase;
    font-family: Verdana;
    color: bisque;
    font-size: medium;
}

.friendDiv {    
    width: auto;
    margin: auto;
    height: 8em;
    border: 3px solid #618685;
    background-color: #80ced6;
    padding: 6em;
    overflow: scroll;
}

.name {
    text-transform: uppercase;
    text-decoration: underline;
}